.c_body{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}
.display{
  width: 340px;
height: 50px;
align-items: center;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: black 2px 4px 8px;
  background-color: white;
padding: 0px;
}
.input{
width: 240px;
text-align: left;
font-size: 15px;
border: white;
background-color: white;
padding: 2px;
}
.output{
width: 100px;
text-align: right;
font-size: 25px;
border: white;
background-color: white;
padding: 2px;
}
fieldset{
border-radius: 20px;
}
.container{
  text-align: center;
  border: 10px solid black;
  border-radius: 10%;
  padding:6px;
}
.button{
  font-size: 20px;
  height:80px;
  width: 80px;
text-align: center;
  background-color: black;
  color: aliceblue;
  border-radius: 12px;
   box-shadow: black 2px 4px 8px;
cursor: pointer;
}
.button:hover{
color: red;
font-weight: bold;
font-size: 23px;
}
.click{
color: blue;
background-color: lightgreen;
width:80px;
text-align: center;
margin-left: 40%;
cursor: pointer;
}
.click:hover{
color: blue;
background-color: lightcoral;
font-weight: bold;
width:90px;
text-align: center;
margin-left: 37%;
}

.calculations{
font-size: 20px;
font-weight: bold;
color: blue;
width: 340px;
}

@media (max-width:600px){
.display{
    width: 320px;
    height: 40px;
  margin-left: 3%;
  align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 2px 4px 8px;
    background-color: white;
  padding: 0px;
}
.input{
  width: 240px;
  text-align: left;
  font-size: 15px;
  border: white;
  background-color: white;
  padding: 0px;
}
.output{
  width: 80px;
  text-align: right;
  font-size: 20px;
  border: white;
  background-color: white;
  padding: 0px;
}
 .container{
     text-align: center;
     border: 10px solid black;
     border-radius: 10%;
     padding:6px;
 }
 .button{
     font-size: 15px;
     height:60px;
     width: 60px;
     background-color: black;
     color: aliceblue;
     border-radius: 8px;
      box-shadow: black 2px 4px 8px;
   cursor: pointer;
 }
.button:hover{
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
}