body{
    align-content : center;
    text-align: center;
    align-items:center;
      border: 5px solid black;
      width:400px;
    height:500px;
      position: relative;
      gap: 10px;
      margin: auto;
      margin-top: 50px;
      display: grid;
      border-radius: 30px;
      background-color:#afacef;
    box-shadow:black 2px 4px 6px;
  }
  .user{
      font-size: 30px;
      text-shadow:#505050 2px 4px 6px;
      display: grid;
      column-gap: 10px;
      text-align: center;
      align-items: center;
      padding: 10px;
  }
  button{
      padding:10px;
      width: 120px;
      text-align: center;
      align-items: center;
      font-size: 15px;
      font-weight: bold;
      border: 3px solid gray;
      border-radius: 20px;
      color:blue;
      background-color:#aad7d7;
      text-shadow:#3b3a3a 2px 4px 6px;
      box-shadow:black 2px 4px 6px;
      cursor: pointer;
  }
input{
    padding: 10px;
      border: 3px solid grey;
      font-weight: bold;
      border-radius: 20px;
      background-color:white;
      box-shadow:black 2px 4px 6px;
        margin: 5px;
  
}
label{
  font-size:15px;
  font-weight:bold;
  padding:10px;
}